# Project exclude paths
# Project exclude paths
/trainingBack/target/
/weather-api/target/
/eureka-server/.gitignore
/eureka-server/.mvn/wrapper/maven-wrapper.properties
/.idea/
/eureka-server/mvnw
/eureka-server/mvnw.cmd
/trainingBack/trainingBack.iml
/trainingUI/trainingUI.iml
/weather-api/weather-api.iml

/trainingUI/node_modules/
/trainingUI/package-lock.json
